<li id="category-<%= category.id %>">  
  <div class="d-flex align-items-center">
    <span onclick="categoryAction(this)" class="category-header user-select-none" data-id="<%= category.id %>">
      <svg style="height: 25px;" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" />
      </svg>
      <span class="category-title">
        <%= category.title %>
      </span>
    </span>

    <div class="category-action ms-2 d-flex flex-row gap-1 d-none">
      <%= render 'bookmarks/components/category/actions', category: category %>
    </div>
  </div>
  
  <ul id="collapsable-<%= category.id %>" class="my-1 d-none">
    <%= render 'bookmarks/components/category/if_category_empty', category: category %>
    <%= render 'bookmarks/components/bookmark/bookmarks', category: category %>
    <%= render 'bookmarks/components/category/category_inception', category: category %>
  </ul>
</li>

<script>
  function categoryAction(element) {
    let category_id = element.dataset.id;
    let parent_category = element.parentElement;
  
    let buttons = parent_category.querySelector(".category-action");
    buttons.classList.toggle('d-none');

    let collapsable = parent_category.parentElement.querySelector(`#collapsable-${category_id}`);
    collapsable.classList.toggle('d-none');
  }
</script>
